<body>

   <nav class="navbar navbar-expand-lg navbar-dark " id="nv" >
     <div class="container">
       <h1 style="font-family: 'Arial Rounded MT Bold' ; color: black"> Flavorshare </h1>
       <div style="justify-content: space-between">
         <button class="btn btn-outline-dark" routerLink="accueil" id="aa">Accueil</button>

         <input type="search"
                id="srch"

                placeholder="Rechercher par langage">
         <button id="btnsr" class="btn btn-outline-info"  >search</button>

       </div>
     </div>
   </nav>


</body>

<router-outlet></router-outlet>

